<div class="container pt-4" style="margin-top:100px; margin-bottom:100px;">

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary pb-3" *ngIf="!form.data.id">
                        {{'BatchForm.AddBatch' | translate}}
                    </h3>

                    <h3 class="text-center text-primary pb-3" *ngIf="form.data.id > 0">
                        {{'BatchForm.UpdateBatch' | translate}}
                    </h3>

                    <!-- SUCCESS MESSAGE -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- CODE -->
                        <label>
                            <b>{{'BatchForm.Code' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-code"></i>
                                </div>
                            </div>

                            <input type="text" class="form-control" name="code" [(ngModel)]="form.data.code"
                                placeholder="{{'BatchForm.Placeholders.Code' | translate}}">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.code}}</span>
                        </div>

                        <!-- NAME -->
                        <label class="mt-2">
                            <b>{{'BatchForm.Name' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-tag"></i>
                                </div>
                            </div>

                            <input type="text" class="form-control" name="name" [(ngModel)]="form.data.name"
                                placeholder="{{'BatchForm.Placeholders.Name' | translate}}">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.name}}</span>
                        </div>

                        <!-- RECORDS -->
                        <label class="mt-2">
                            <b>{{'BatchForm.Records' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-database"></i>
                                </div>
                            </div>

                            <input type="number" class="form-control" name="records" [(ngModel)]="form.data.records"
                                placeholder="{{'BatchForm.Placeholders.Records' | translate}}">
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.records}}</span>
                        </div>

                        <!-- COURSE -->
                        <label class="mt-2">
                            <b>{{'BatchForm.Course' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                            </div>

                            <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId">

                                <option value="undefined">
                                    {{'BatchForm.SelectOptions.Select' | translate}}
                                </option>

                                <option *ngFor="let obj of form.preload.courseList" [value]="obj.key">
                                    {{obj.value}}
                                </option>

                            </select>
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.courseId}}</span>
                        </div>

                        <!-- STATUS -->
                        <label class="mt-2">
                            <b>{{'BatchForm.Status' | translate}}</b> <span style="color:red">*</span>
                        </label>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-toggle-on"></i>
                                </div>
                            </div>

                            <select class="form-control" name="status" [(ngModel)]="form.data.status">

                                <option value="undefined">
                                    {{'BatchForm.SelectOptions.Select' | translate}}
                                </option>

                                <option value="Active">
                                    {{'BatchForm.SelectOptions.Active' | translate}}
                                </option>

                                <option value="Inactive">
                                    {{'BatchForm.SelectOptions.Inactive' | translate}}
                                </option>

                            </select>
                        </div>

                        <div>
                            <span class="text-danger">{{form.inputerror.status}}</span>
                        </div>

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">

                            <button *ngIf="!form.data.id" type="button" class="btn btn-success" (click)="submit()">
                                {{'Buttons.Save' | translate}}
                            </button>

                            &nbsp;

                            <button *ngIf="!form.data.id" type="button" class="btn btn-warning" (click)="reset()">
                                {{'Buttons.Reset' | translate}}
                            </button>

                            <button *ngIf="form.data.id > 0" type="button" class="btn btn-primary" (click)="submit()">
                                {{'Buttons.Update' | translate}}
                            </button>

                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>